@media only screen and (min-width: 550px){
    main{
        max-width: 900px;
        margin: 0 auto;
    }

    header{
        display: grid;
        grid-template-columns: 50px auto;
    }

    /*header span {
        white-space: nowrap;
    }
    */

    .hamburger{
        display: none;
    }

    .navigation{
        display: block;
    }

    .navigation ul{
        display: flex;
        flex-direction: row;
        border: none;
        background: none;
    }

    .together{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        margin: 10px 0;
        background-color: var(--background-color);
        align-items: center;
    }

    

    footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /****** index.html ******/
    .sec{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 1rem;
        padding-top: 0;
        margin-bottom: 2rem;
    }

    .sec h2{
        margin-top: 0;
    }

    .sec section{
        height: 100%;
    }


        /****** join.html ******/
        .membership{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            align-items: start;
        }
}