:root{
    --primary-color: rgb(22, 26, 54);
    --secondly-color: rgb(0, 0, 0);
    --background-color: rgba(27, 152, 189, 0.782);
    --accent-color: rgb(239, 216, 216);
    --accent-color2: rgb(222, 182, 182);
    --heading-font: "Roboto", sans-serif;
    --heading-weight: 400;
}

body{
    font-family: var(--heading-font);
    font-weight: var(--heading-weight);
}

h1{
    color: var(--primary-color);
}

/*header*/
header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: center;
    column-gap: 8px;
}

header img{
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
}

header span{
    font-size: 1.4rem;
    color: var(--secondly-color);
}

.hamburger{
    background: none;
    color: var(--primary-color);
    border: none;
}

.hamburger::before{
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before{
    content: '\00D7';
}

/*navigation*/
.navigation{
    display: none;
}

.navigation.show{
    display: block;
}

.navigation ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--secondly-color);
    background: var(--background-color);
}

.navigation a{
    display: block;
    padding: .5rem .8rem;
    text-decoration: none;
    color: var(--secondly-color);
}

.navigation a:hover{
    background: var(--accent-color);
}





/* footer */
footer{
    background: var(--background-color);
    display: block;
    text-align: center;
    color: var(--secondly-color);
}

.contact{
    display: block;
    padding: 15px 8px;
}

.contact span{
    font-weight: bold;
    font-size: large;
}

.site{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.site img{
    width: 44px;
    height: auto;
}

.information{
    display: block;
    padding: 15px 8px;
}




/*menu*/
.menu{
    margin: 1rem;
    text-align: center;
}

.menu button{
    font-size: 1.1rem;
    padding: .5rem 1rem;
}


/* card */
.card section{
    text-align: center;
    padding: 4px;
    border: 1px solid var(--primary-color);
    background: var(--accent-color);
    
}

.card img{
    width: auto;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}

.card a{
    display: block;
    margin-top: 1rem;
    color: var(--primary-color);
}

.card p:first-of-type{
    font-weight: 800;
    font-size: 1.2rem;
}

section:last-of-type {
    margin-bottom: 1rem;
}


.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    align-items: center;
}

.grid section{
    min-height: 420px;
}

/*list views*/
.list {
    display: flex;
    flex-direction: column;
}

.list img{
    display: none;
}

.list section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.list section:nth-child(even){
    background: var(--accent-color);
}

.list section:nth-child(odd){
    background: var(--accent-color2);
}