body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    background: ;
}

section{
    background: #F5F5F5;
    color: #333333;
    border: 1px solid black;
    margin: 1rem 0;
}

section h1{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: #6c63ff;
    margin: 0;
    color: #000000;
}